@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img style="height:250px;width:auto" src="~/Photos/aerial_view_of_el_yeso-wallpaper-2048x1152.jpg" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Bắt đầu với web xem tin tức</h2>
        
    </div>
</div>